<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.springframework.web" level="INFO"/>

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>rest-comparison.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>rest-comparison.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>21</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%-10level%-10date{dd MMM yyyy;HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>Application: %-5level - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- logger to detect issues with inout file or arguments -->
    <logger name="application" level="${LOG_LEVEL:-info}"
            additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- main log file -->
    <logger name="com.pliakh" level="${LOG_LEVEL:-info}" additivity="false">
        <appender-ref ref="LOG_FILE"/>
    </logger>

    <logger name="org.springframework" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>